<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <a class="active"  href="#">TastyFood</a>
        <div class="navbar-right">
            <a class="home" href="/home">Начало</a>
            <a class="logout" href="/user/logout">Изход</a>
        </div>
    </nav>
</header>
<main>
    <div class="review-box" th:object="${restaurantId}">
        <h1 class="review-add-name">Добави ревю</h1>
        <form th:object="${reviewAddBindingModel}"  th:action="@{/review/add/(restaurant_id=${restaurantId})}" method="POST">
            <div class="container-review-add">
            <div>
                <label ><b>Напишете отзив</b></label>
                <textarea autocomplete="off" th:field="*{review}" th:errorclass="bg-danger"  type="text" class="review-select" name="review" placeholder="Напишете отзив"></textarea>
                <small  th:each = "e : ${#fields.errors('review')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <label><b>Дайте оценка</b></label>
                <select th:field="*{assessment}" th:errorclass="bg-danger"  class="select-review-assessment"
                        id="type-con-res" name="assessment" required>
                    <option value ="">1-10</option>
                    <option th:each="o:${T(project.tastyfood.model.entity.enums.Assessment).values()}" th:text="${o}" th:value="${o}"></option>
                                    </select>
                </div>
                <button class="add-review-btn" type="submit">Добави ревю</button>
            </div>
        </form>
    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>