<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
<nav class="navbar">
    <a class="active"  href="#">TastyFood</a>
    <div class="navbar-right">
        <a class="home" href="/home">Начало</a>
        <a class="logout" href="/user/logout">Изход</a>
    </div>
</nav>
</header>
<main>
    <div class="restaurant-box-add" th:object="${townId}">
        <h1 class="restaurant-name-add">Добави ресторант</h1>
        <form th:object="${restaurantAddBindingModel}" th:action="@{/restaurant/add/(town_id=${townId})}" method="POST" enctype="multipart/form-data">
            <div class="container-restaurant">
            <div>
                <label ><b>Име</b></label>
                <input  autocomplete="off" th:field="*{name}" th:errorclass="bg-danger"  type="text" name="name" placeholder="Въведете име" >
                <small  th:each = "e : ${#fields.errors('name')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <label ><b>Адрес</b></label>
                <input autocomplete="off" th:field="*{address}" th:errorclass="bg-danger" type="text"  name="description" placeholder="Въведете адрес" >
                <small  th:each = "e : ${#fields.errors('address')}" th:text = "${e}" class="text-danger"></small>
            <div>
            <div>
                <label><b>Избери снимка</b></label>
                <input type="file" name="picture" placeholder="Enter picture" accept="picture/*">
            </div>
                <button class="restaurant-add-button" type="submit">Добави ресторант</button>
            </div>
            </div>
            </div>
        </form>
    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>