<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <a class="active"  href="#">TastyFood</a>
        <div class="navbar-right">
            <a class="home" href="/home">Начало</a>
            <a class="logout" href="/user/logout">Изход</a>
        </div>
    </div>
</header>
<main>
    <h1 class="error-title">Възникна грешка при обработването на вашата заявка!</h1>
    <!--/*@thymesVar id="message" type="message"*/-->
    <p class="error-message" th:text="|Оооопс: Грешка: ${message}|"></p>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>