<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <a class="active"  href="#">TastyFood</a>
        <div class="navbar-right">
            <a class="register" href="/user/register">Регистрация</a>
            <a class="login" href="/user/login">Вход</a>
        </div>
    </div>
</header>
<main>
    <div class="login-box">
    <h1 class="login-name">Вход</h1>
        <form th:object="${userLoginBindingModel}" th:action="@{/user/login}" method="POST">
            <div class="container-login">
            <div>
          <label><b class="login-add">Имейл</b></label>
                <input  autocomplete="off" th:field="*{email}" th:errorclass="bg-danger"  type="email" name="email" placeholder="Въведете имейл">
            <small  th:each = "e : ${#fields.errors('email')}" th:text = "${e}" class="text-danger"></small>
            </div>
             <div>
            <label> <b>Парола</b></label>
            <input autocomplete="off" th:field="*{password}" th:errorclass="bg-danger" type="password" placeholder="Въведете парола" name="psw">
            <small  th:each = "e : ${#fields.errors('password')}" th:text = "${e}" class="text-danger"></small>
            <button type="submit">Вход</button>
            </div>
        </div>
        </form>
    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>