<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav class="navbar">
        <a class="active"  href="#">TastyFood</a>
        <div class="navbar-right" th:object="${isRestaurateur}">
            <a class="home" href="/home">Начало</a>
            <a class="meal-add" th:if="${isRestaurateur}" th:href="@{/meal/add/(restaurant_id=${restaurant_id})}">Добави храна</a>
            <a class="profile" href="/user/profile">Профил</a>
            <a class="shopping-bag" th:if="${isUser}" href="/user/shopping-bag">Количка</a>
            <a class="logout" href="/user/logout">Изход</a>
        </div>
        <div class="search-container-h">
            <form th:object="${searchForMealBindingModel}" th:action="@{/search/meal}" method="POST" style="margin:auto;max-width:450px">
                <input th:field="*{name}" type="text" placeholder="Търси салати, ястия и др." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>
</header>
<main>
    <h1 class="title-menu">Меню</h1>
    <div class="py-3">
        <div class="row-menu">
        <h3 class="mySticky-menu">Салати</h3>
            <div th:each="s:${salads}" th:object="${s}" class="column-menu">
                <div class="card-menu" >
                <img class="card-img-menu" th:src="*{pictureUrl}">
                    <p class="name-menu" th:text="|*{name} (*{grams} гр.)|"></p>
                    <p class="ingredients-menu" th:text="*{ingredients}"></p>
                    <div class="price-menu"  th:text="|*{price} лв.|" ></div>
                    <div th:if="${isUser}" class="btn-menu" ><a th:href="@{/order/shopping-bag/(id=*{id})}" class="link-menu">Добави в количката</a></div>
                    <div th:if="${isRestaurateur || isAdmin}" class="btn-delete-meal" ><a th:href="@{/meal/delete/{id}(id = *{id})}" class="delete-meal">Изтрий</a></div>
                </div>
            </div>
        </div>
        <div class="row-menu">
            <h3 class="mySticky-menu">Супи</h3>
            <div th:each="s:${soups}" th:object="${s}" class="column-menu">
                <div class="card-menu" >
                    <img class="card-img-menu" th:src="*{pictureUrl}">
                    <p class="name-menu" th:text="|*{name} (*{grams} гр.)|"></p>
                    <p class="ingredients-menu" th:text="*{ingredients}"></p>
                    <div class="price-menu" th:text="|*{price} лв.|"></div>
                    <div th:if="${isUser}" class="btn-menu" ><a th:href="@{/order/shopping-bag/(id=*{id})}" class="link-menu">Добави в количката</a></div>
                    <div th:if="${isRestaurateur || isAdmin}" class="btn-delete-meal" ><a th:href="@{/meal/delete/{id}(id = *{id})}" class="delete-meal">Изтрий</a></div>
                </div>
            </div>
        </div>
        <div class="row-menu">
            <h3 class="mySticky-menu">Предястия</h3>
            <div th:each="a:${appetizers}" th:object="${a}" class="column-menu">
                <div class="card-menu" >
                    <img class="card-img-menu" th:src="*{pictureUrl}">
                    <p class="name-menu" th:text="|*{name} (*{grams} гр.)|"></p>
                    <p class="ingredients-menu" th:text="*{ingredients}"></p>
                    <div class="price-menu" th:text="|*{price} лв.|"></div>
                    <div th:if="${isUser}" class="btn-menu" ><a th:href="@{/order/shopping-bag/(id=*{id})}" class="link-menu">Добави в количката</a></div>
                    <div th:if="${isRestaurateur || isAdmin}" class="btn-delete-meal" ><a th:href="@{/meal/delete/{id}(id = *{id})}" class="delete-meal">Изтрий</a></div>
                </div>
            </div>
        </div>
        <div class="row-menu">
            <h3 class="mySticky-menu">Основни ястия</h3>
            <div th:each="m:${mainDishes}" th:object="${m}" class="column-menu">
                <div class="card-menu" >
                    <img class="card-img-menu" th:src="*{pictureUrl}">
                    <p class="name-menu" th:text="|*{name} (*{grams} гр.)|"></p>
                    <p class="ingredients-menu" th:text="*{ingredients}"></p>
                    <div class="price-menu" th:text="|*{price} лв.|"></div>
                    <div th:if="${isUser}" class="btn-menu" ><a th:href="@{/order/shopping-bag/(id=*{id})}" class="link-menu">Добави в количката</a></div>
                    <div th:if="${isRestaurateur || isAdmin}" class="btn-delete-meal" ><a th:href="@{/meal/delete/{id}(id = *{id})}" class="delete-meal">Изтрий</a></div>
                </div>
            </div>
        </div>
        <div class="row-menu">
            <h3 class="mySticky-menu">Десерти</h3>
            <div th:each="d:${desserts}" th:object="${d}" class="column-menu">
                <div class="card-menu" >
                    <img class="card-img-menu" th:src="*{pictureUrl}">
                    <p class="name-menu" th:text="|*{name} (*{grams} гр.)|"></p>
                    <p class="ingredients-menu" th:text="*{ingredients}"></p>
                    <div class="price-menu" th:text="|*{price} лв.|"></div>
                    <div th:if="${isUser}" class="btn-menu" ><a th:href="@{/order/shopping-bag/(id=*{id})}" class="link-menu">Добави в количката</a></div>
                    <div th:if="${isRestaurateur || isAdmin}" class="btn-delete-meal" ><a th:href="@{/meal/delete/{id}(id = *{id})}" class="delete-meal">Изтрий</a></div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-meals">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>