<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
<nav class="navbar">
    <a class="active"  href="#">TastyFood</a>
    <div class="navbar-right">
        <a class="home" href="/home">Начало</a>
        <a class="shopping-bag" th:if="${isUser}" href="/user/shopping-bag">Количка</a>
        <a class="logout" href="/user/logout">Изход</a>
    </div>
</nav>
</header>
<main>
    <div class="user-profile" th:object="${user}">
        <p class="username-profile-p">Моят профил</p>
        <p class="username-profile" th:text="${user.getName()}"></p>
        <div>
            <a class="person-information" th:href="@{/user/profile-info/(email=*{name})}">Лична информация</a>
        </div>
        <div>
            <a class="orders-profile" th:if="${isUser}" href="/order/orders">Поръчки</a>
            <a class="orders-profile" th:if="${isRestaurateur}" href="/order/orders-rest">Поръчки</a>
        </div>
        <a class="favouriteRestaurant-in-profile" th:if="${isUser}" th:href="@{/user/favouriteRestaurant/(email=*{name})}">Любими</a>
    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>