<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <a class="active"  href="#">TastyFood</a>
        <div class="navbar-right">
            <a class="home" href="/home">Начало</a>
            <a class="profile" href="/user/profile">Профил</a>
            <a class="logout" href="/user/logout">Изход</a>
        </div>
    </nav>
</header>
<main>
    <div>
        <div  class="responsive" th:object="${restaurant}">
            <div class="gallery">
                <img th:src="*{pictureUrl}" alt="" width="600" height="400">
                <div>
                    <a class="desc" th:text="*{name}" th:href="@{/restaurant/restaurant-details/(id=*{id})}" ></a>
                </div>
            </div>
            <div th:if="${isRestaurateur}" class="btn-delete-restaurant" ><a href="" class="delete-restaurant">Изтрий</a></div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-searchRestaurant">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>