<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <a class="active"  href="#">TastyFood</a>
        <div class="navbar-right">
            <a class="home" href="/home">Начало</a>
            <a class="profile" href="/user/profile">Профил</a>
            <a class="logout" href="/user/logout">Изход</a>
        </div>
    </nav>
</header>
<main>
    <div class="row-town">
        <div class="column-town" th:object="${town}">
            <img class="imgTown"  th:src="*{pictureUrl}" alt="Town Picture">
            <a th:if="${isUser}" th:text="*{name}" class="name-town" th:href="@{/restaurant/town-restaurants/(id=*{id})}">TownName</a>
            <a th:if="${isAdmin}" th:text="*{name}" class="name-town" th:href="@{/restaurant/town-restaurants/(id=*{id})}">TownName</a>
            <a th:if="${isRestaurateur}" th:text="*{name}" class="name-town-restaurateur" th:href="@{/restaurant/town-restaurants/(id=*{id})}">TownName</a>
            <div th:if="${isRestaurateur}" class="btn-delete-town" ><a href="" class="delete-town">Изтрий</a></div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-home">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>