<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TastyFood</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
<nav class="navbar">
    <a class="active"  href="#">TastyFood</a>
    <div class="navbar-right">
        <a class="home" href="/home">Начало</a>
        <a class="profile" href="/user/profile">Профил</a>
        <a class="shopping-bag" th:if="${isUser}" href="/user/shopping-bag">Количка</a>
        <a class="logout" href="/user/logout">Изход</a>
    </div>
</nav>
</header>
<main>
    <h1 class="review"><span  th:text="|Ревюта: (${reviews.size()})|" class="review" ></span></h1>
    <div class="review-view" th:each="r:${reviews}" th:object="${r}">
        <div>
            <p class="review-email"  th:text="${r.email}"></p>
            <p class="review-text" th:text="*{review}"></p>
            <p class="review-assessment" th:text="|Оценка: *{assessment}/10|"></p>
            <a class="delete-review" th:href="@{/review/delete/(id=*{id})}">Изтрий</a>
        </div>
    </div>
</main>
<footer>
    <div class="footer-view-reviews">
        &copy;2021 Copyright:TastyFood
    </div>
</footer>
</body>
</html>